# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.DS_Store
*.icloud
*.csv
*report.md
reports/*.*


# zkSync
zkout/